.point { stroke: black; stroke-width: 3; fill: white; }
.line { stroke: #808080; stroke-width: 3; stroke-opacity: 0.3; stroke-linejoin: round; stroke-linecap: butt; } 
.circle { stroke: #808080; stroke-width: 3; stroke-opacity: 0.3; stroke-linejoin: round; stroke-linecap: butt; fill: none; } 
.polygon { stroke-width: 5; stroke-linejoin: round; stroke-linecap: butt; fill: none; } 
.bisector { stroke-dasharray: 13, 5, 3, 5; }
.secondary { stroke-dasharray: 3 5; } 
.root3 { stroke: #93C; stroke-width: 5; fill: #93C; fill-opacity: 0.2; stroke-opacity: 0.7; } 
.segment { stroke-width: 7; stroke-linecap: round; } 
.a { stroke-width: 4; } 
.b { stroke-width: 8; } 
.c { stroke-width: 12; } 
.d { stroke-width: 16; } 
.golden { stroke: #DA0; stroke-opacity: 0.4; fill: #DA0; } 
.point.golden { stroke-width: 12; fill: black; }
